危急值状态回写WebService/WebApplication1Tests/Service References/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://www.gzsums.net/crisisValue/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://www.gzsums.net/crisisValue/" />
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrisisAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="s1:Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrisisAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrisisAddResult" type="s1:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrisisUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="s1:Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrisisUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrisisUpdateResult" type="s1:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrisisStatusFeedback">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="req" type="s1:Request" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrisisStatusFeedbackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrisisStatusFeedbackResult" type="s1:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.gzsums.net/crisisValue/">
      <s:complexType name="Request">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="requestHeader" type="s1:RequestHeader" />
          <s:element minOccurs="0" maxOccurs="1" name="requestBody" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RequestHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="receiver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="requestTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="msgType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="msgId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="msgPriority" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="msgVersion" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="responseHeader" type="s1:ResponseHeader" />
          <s:element minOccurs="0" maxOccurs="1" name="responseBody" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ResponseHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="sender" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="receiver" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="requestTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="msgType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="msgId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="msgPriority" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="msgVersion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrMessage" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CrisisAddSoapIn">
    <wsdl:part name="parameters" element="tns:CrisisAdd" />
  </wsdl:message>
  <wsdl:message name="CrisisAddSoapOut">
    <wsdl:part name="parameters" element="tns:CrisisAddResponse" />
  </wsdl:message>
  <wsdl:message name="CrisisUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:CrisisUpdate" />
  </wsdl:message>
  <wsdl:message name="CrisisUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:CrisisUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="CrisisStatusFeedbackSoapIn">
    <wsdl:part name="parameters" element="tns:CrisisStatusFeedback" />
  </wsdl:message>
  <wsdl:message name="CrisisStatusFeedbackSoapOut">
    <wsdl:part name="parameters" element="tns:CrisisStatusFeedbackResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrisisAdd">
      <wsdl:input message="tns:CrisisAddSoapIn" />
      <wsdl:output message="tns:CrisisAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrisisUpdate">
      <wsdl:input message="tns:CrisisUpdateSoapIn" />
      <wsdl:output message="tns:CrisisUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrisisStatusFeedback">
      <wsdl:input message="tns:CrisisStatusFeedbackSoapIn" />
      <wsdl:output message="tns:CrisisStatusFeedbackSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrisisAdd">
      <soap:operation soapAction="http://tempuri.org/CrisisAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrisisUpdate">
      <soap:operation soapAction="http://tempuri.org/CrisisUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrisisStatusFeedback">
      <soap:operation soapAction="http://tempuri.org/CrisisStatusFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrisisAdd">
      <soap12:operation soapAction="http://tempuri.org/CrisisAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrisisUpdate">
      <soap12:operation soapAction="http://tempuri.org/CrisisUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrisisStatusFeedback">
      <soap12:operation soapAction="http://tempuri.org/CrisisStatusFeedback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:16214/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:16214/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>